<td class="w-50">{{product.description | uppercase}} </td>
<td class="w-35">{{product.price | currency:'USD':true}} </td>
<td class="w-25">
  <button (click)="openModalView(product)" type="button" class="btn btn-outline-primary"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
  <button (click)="openModalEdit(product)" type="button" class="btn btn-outline-warning"><i class="fa fa-pencil" aria-hidden="true"></i></button>          
  <button (click)="onClickDeleted(product)" type="button" class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
</td>